.footer
    .footer__logo
        img(src='/img/hon-logo.png' alt='Honeywell logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Enroll your Website
        li: a(href='#') Contact
    p.footer__copyright &copy; by Honeywell Inc. All rights reserved.